.fileSection {
  background: #f0f1f3;
  border-radius: 10px;
  padding: 60px 40px;
}

.header {
  margin-bottom: 0;
}

.submit {
  background: var(--color-claret);
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 15px;
}
